/* start box */
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.d-none{
    display: none;
}
.s-between{
    justify-content: space-between;
}
.flex-1{
    flex: 1;
}
.flex-d{
    flex-direction: column;
}
.flex-end{
    align-items: end;
}
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-flex-only{
    display: flex;
    align-items: center;
}
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.d-grid{
    display: grid;
}
.d-grid-column{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.gap-20{
    gap: 20px;
}
.d-block{
    display: block;
}
@media (max-width:767px) {
    .block-mobile{
        display: block;
    }
}
.active {
    color:#200016;
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/* end box */
/* start padding +marring */
.p-5{
    padding: 5px;
}
.pt-10{
    padding-top: 10px;
}
.pt-15{
    padding: 15px;
}
.p-10{
    padding: 10px;
}
.p-0{
    padding: 0;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.pl-30{
    padding-left: 30px;
}
.p-35{
    padding-left: 35px;
}
.m-0{
    margin: 0;
}
.m-15{
    margin: 15px;
}
.m-20{
    margin: 20px;
}
.mt-5{
    margin-top: 5px;
}
.mt-0{
    margin-top: 0px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-38{
    margin-top: 38px;
}
.mt-0{
    margin-top: 0;
}
.mb-38{
    margin-bottom: 38px;
}
.mb-5{
    margin-bottom: 5px;
}
.m-lef{
    margin-left: 10px;
}
.m-20{
    margin: 20px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-35{
    margin-bottom: 35px;
}
.mb-37{
    margin-bottom: 37px;
}
.mb-0{
    margin-bottom: 0px;
}
.mb-2{
    margin-bottom: 2px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-15{
    margin-bottom: 15px;
}
.mr-10{
    margin-right: 10px;
}
.mr-40{
    margin-right: 40px;
}
.ml-55{
    margin-left: 55px;
}
.ml-17{
    margin-left: 17px;
}
.ml-10{
    margin-left: 10px;
}
.ml-25{
    margin-left: 25px;
}
.w-fit{
    width: fit-content;
}
.width{
    width: 72px;
}
.width-pro{
    width: 58px;
}
/* end padding +marring */
/* start font */
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-17{
    font-size: 17px;
}
.fs-19{
    font-size: 19px;
}
.fs-20{
    font-size: 20px;
}
.fs-22{
    font-size: 22px;
}
.fs-30{
    font-size: 30px;
}
.fw-bold{
    font-weight: bold;
}
.fw-normal{
    font-weight: normal;
}
.rad-half{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* end font */
/* start color */

.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: rgba(0, 0, 255, 0.342);
 }
.bg-eee{
    background-color: #eee;
 }
 .border-eee{
    border: 1px solid #eee;
 }
 .c-eee{
    color: #d6d4d4;
 }
 .bg-eee{
    background-color: #d6d4d4;
 }
.c-black{
    color: black;
}
.c-white{
    color: white;
}
.bg-blue{
    background-color:#0075ff;
}
/* end color */
/* start position */
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
/* end position */

.text-c{
    text-align: center;
}
@media (max-width:767px) {
    .text-c-mobile{
        text-align: center;
    }
}

/* start borber */
.rad-6{
 border-radius: 6px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 -ms-border-radius: 6px;
 -o-border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* end borber */
/* start width */
.w-full{
width: 100%;
}
/* end width */
/* start component */

/*end component */
.headen{
    overflow: hidden;
}
/* start color */
 .bg-blue{
    background-color:#0075ff;
 }
 .bg-blue-facebook{
    background-color:#1877f2;
 }
 .bg-input{
    background-color: #f6f6f6;
 }
 .bg-blue-alt-facebook {
    background-color:#0077ff3d;
 }
 .bg-blue-twitter{
    background-color:#00abeea6;
 }
 .bg-blue-alt-twitter {
    background-color:#00abee2a;
 }
 .bg-red-youtube{
    background-color:#e62117;
 }
 .bg-red-youtube-alt{
    background-color:#e6211756;
 }
 .grey-linkedin{
    background-color:#0077b5;
   }
   .bg-blue-alt-ink {
    background-color:#0076b546;
 }
 
 .bg-red-table{
    background-color:#e62117;
 }
 .blue{
   color:#0075ff;
 }
 .blue-alt-color{
    color:#0d69d5;
 }
 .bg-orang{
  background-color:#f59e0b;
 }
 .orang{
    color:#f59e0b;
   }
 .bg-green{
    background-color:#22c55e;
 }
 .green{
    color:#22c55e;
 }
 .c-777{
    color: #777;
 }
 .bg-777{
    background-color: #777;
 }
 .bg-red{
    background-color:#f44336;
 }
.color-p{
    color:#888e93;
}
 .red{
    color:#f44336;
 }
 .red-youtube{
    color:#f44336;
 }
 .grey{
  color:#8888;
 }
 .c-grey-alt{
    color:#eeeeee;
}
.grey-alt{
    background-color:#eeeeee;
}
 .black{
    color: black;
 }
 .c-color{
    color: white;
 }
 
/* end color */
.ben-shape{
 padding: 4px;
 border-radius: 6px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 -ms-border-radius: 6px;
 -o-border-radius: 6px;
}

