*{
    box-sizing: border-box;
}body{
    margin: 0;
    font-family: "cairo", sans-serif;
    background-color:black;
}div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    span{
        font-size: 80px;
        letter-spacing: 5px;
        text-transform: uppercase;
        line-height: 1;
        mix-blend-mode: difference;

    };
    &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 85px;
    background-color:#fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    animation: move 4s linear infinite;
        -webkit-animation: move 4s linear infinite;
};
};
div::before{
    content: "";
    animation: move 4s linear infinite;
    -webkit-animation: move 4s linear infinite;
}
@keyframes move{
    0%,100%{
        width: 0;
        opacity: 0.4;
    }
    50%{
        width: 100%;
        opacity: 1;
    }

}