*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding: 0;
}.menu_icon{
    margin: 20px auto;
    width: 20px;
    height: 14px;
    cursor: pointer;
    position: relative;
    /*background-color: red;
    */transition:0.4s;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
      span{
        background-color: black;
        height: 2px;
        position: absolute;
        width: 100%;
        left: 0;
        transition: all 0.3 ease;
    }
    span:first-child{
        transition: 0.4s;
        top: 0px;
    }
    span:nth-child(2){
        transition: 0.4s;
        top: 6px;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
}
    span:last-child{
        transition: 0.4s;
        top: 12px;

    }


}

/* one line */
/* .menu_icon:hover span:first-child,
.menu_icon:hover span:last-child{
    top: 6px;
    background-color: red;
 } */

/* two line */
/* .menu_icon:hover span:nth-child(2){
    width: 100%;
} */


/* three line */
/* .menu_icon:hover{
    transform: rotate(90deg);
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
} */


/* three line */
/* .menu_icon:hover span:first-child{
    top: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.menu_icon:hover span:nth-child(2){
    opacity: 0;
}
.menu_icon:hover span:last-child{
    top: 6px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
} */






