* {
    box-sizing: border-box;
    outline: none;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #212121;
.mood{
    position: fixed;
        right: 35px;
        top: 100px;
        background-color: white;
        width: 40px;
        height: 15px;
        border-radius: 20px;
        cursor: pointer;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: black;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
        }
}
}

.head {
    text-align: center;
    color: #fff;
    padding: 20px;
    font-size: 20px;

    h1 {
        font-size: 30px;
        margin: 0;
    }
}

.container {
    margin: 0 30px;
}

.container .form input:focus {
    background-color: #000;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

.container .form button:hover,
.container .form .search button:hover,
.container .form .footer table button:hover {
    background-color: #850287;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.container .form {

    .title {
        width: 100%;
        padding: 6px;
        margin: 0 0 10px 0;
        background-color: black;
        color: white;
        border: none;
        font-size: 18px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .price {
        display: flex;
        margin-bottom: 10px;

        input {
            width: 100%;
            margin-right: 5px;
            background-color: black;
            color: white;
            border: none;
            padding: 6px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

        }
    }

    small:last-child {
        text-align: start;
        align-content: center;
        width: 100%;
        background-color: #a33d3d;
        border-radius: 6px;
        color: white;
        padding-left: 5px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }

    small::before {
        content: "Total :";
        font-size: 14px;
    }

}

.count,
.category {
    width: 100%;
    padding: 6px;
    margin: 0 0 10px 0;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 18px;
}

.create {
    width: 100%;
    padding: 6px;
    margin: 0 0 10px 0;
    background-color: #290765;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 18px
}

.search-felad {
    width: 100%;
    padding: 6px;
    margin: 0 0 10px 0;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 18px;
}

.search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    button {
        width: 40%;
        background-color: #290765;
        border: none;
        color: white;
        padding: 6px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-size: 18px;
        cursor: pointer;
    }
}

.delete-all {
    width: 100%;
    padding: 6px;
    margin: 0 0 10px 0;
    background-color: #290765;
    color: white;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.footer {

    text-align: center;
    /* background-color: white; */

    table {

        width: 100%;
        color: white;
        border: none;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        cursor: pointer;

        tr {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 2px;
                top: 0;
                width: calc(100% - 10px);
                border: 1px solid #eeeeee36;
            }



            td {
                padding: 6px;
                ;
            }

            button {
                width: 100%;
                background-color: #290765;
                border: none;
                color: white;
                padding: 6px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                font-size: 15px;
                cursor: pointer;
            }
        }


    }
}
.dark{ background-color: #fff;
    transition: all 0.5s; 
    -webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -ms-transition: all 0.5s; 
    -o-transition: all 0.5s;
}