*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}body{
    background-color: black;
    font-family: "open sans", sans-serif;
    margin:10px 30px;
}
header{
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 20px;
    /* margin-bottom: 10px; */
        .icons i {
                display: none;
                color: white;
                cursor: pointer;
            }
    ul{
        width: 100%;
        justify-content: flex-end;
        display: flex;
        gap: 20px;
        a{
            padding: 5px ;
            color: #fff;
            cursor: pointer;
            &:hover{
                background-color: #fff;
                transition: 0.4s;
                color: black;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -ms-transition: 0.4s;
                -o-transition: 0.4s;
};
        };

    };
    &::before{
        content: "";
        opacity: 0.2;
        position: absolute;
        width: calc(100% - 40px );
        height: 1px;
        background-color: #fff;
        bottom: 12px;
        left: 20px;

    };
}
img{
    width: 50px;
    cursor: pointer;
}
.container{

    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 30px;
    .info{
        margin: 30px 0 0 ;
        max-width: 600px;
        h1{
            margin-bottom: 40px;
        }
        p{
            line-height: 1.7;
            margin-bottom: 25px;
        }
        button{
            width: 100px;
            padding: 7px 10px;
            border-radius: 15px;-webkit-border-radius: 15px;-moz-border-radius: 15px;-ms-border-radius: 15px;-o-border-radius: 15px;
            font-size: 14px;
            cursor: pointer;
            border: none;
            outline: none;
            background-color: #fff;
        }
    }
    img{
        width: 300px;
    }
}
.footer{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    img{
        transition: 0.4s; -webkit-transition: 0.4s;-moz-transition: 0.4s;-ms-transition: 0.4s;-o-transition: 0.4s;
        &:hover{
            transform: scale(1.1);-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1); -o-transform: scale(1.1);
        };
    };
};
header i{
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

@media (max-width: 600px) {
    header ul{
        display: none;
    }
    header .icons i{
        margin-right: 5px;
        font-size: 25px;
        display: block;
        color: white;
    }
    .container{
        flex-direction: column-reverse;
        img{
            width: 200px;
        }
    }
    .footer{
        margin-top: 50px;
    }
}
