*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}
.repos-container{
    background-color: #f0f0f0;
    .get-repos{
        width: 400px;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            width: 100%;
            padding: 5px;
            border: none;
            background-color: #fff;
            margin-right: 5px;
            border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px; -ms-border-radius: 5px;-o-border-radius: 5px;
        &:focus {
                border: 1px solid #007bff;
                outline: none;
            }
        };
button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;

};
    };
    .show-data{
        width: 400px;
        padding: 10px ;
        /* text-align: center; */
        align-content: center;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;-webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px;-o-border-radius: 5px;
        span{
            font-size: 15px;
            color: #333;
        };
        div{
            position: relative;
            margin: 5px 0;
            padding: 5px;
            background-color: #f0f0f0;
            color: #007bff;
            border-radius: 5px;
            cursor: pointer;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            transition: 0.2s;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -ms-transition: 0.2s;
            -o-transition: 0.2s;
            &:hover
{

                background-color: rgba(0, 0, 0, 0.219);
                color: #007bff;
            };
            a{
                position: absolute;
                right: 0;
                margin-right: 10px;
                color: #007bff;
                text-decoration: none;
            }
        }
        
    };
};