*{
    box-sizing: border-box;
}
:root{
    --primary-color: #f44336;
}
body{
    margin: 0;
    background-color: #eee;
    font-family: "Arial", "Helvetica", sans-serif;
}
h1{
    text-align: center;
    padding: 20px;
    margin: 0 0 50px;
    background-color: #fff;
}
.guess_game {
    text-align: center;
    width: 1000px;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .game_area {

        .inputs div{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            width: 50px;
            height: 50px;
            span{
                font-size: 30px;
                margin-right: 15px;
                font-weight: bold
            };
        };
        .disabled{
            opacity: 0.5;
            pointer-events: none;
        } 
        input{
            margin: 0 5px;
            width: 60px;
            height: 60px;
            text-align: center;
            font-size: 60px;
            caret-color: #eee;
            background-color: white;
            border: none;
            border-radius: 10px;-webkit-border-radius: 10px; -moz-border-radius: 10px;-ms-border-radius: 10px;-o-border-radius: 10px;
            border-bottom: 3px solid #333 ;
            &:focus{
                outline: #ccc;

            };
                        &.yes_in_place {
                            background-color: #f89e13;
                            border:  #f89e13;
                            color: white;
                        }
            
                        &.not_in_place {
                            background-color: #18ba89;
                            border:  #18ba89;
                            color: white;
                        }
            
                        &.no {
                            background-color: #27303f;
                            border:  #27303f;
                            color: white;
                        }
        }
    }

    .key_color {
        .key_color {
            display: flex;
            align-items: center;
            padding: 15px;
            margin-bottom: 30px;
            background-color: #fff;

            .key {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 15px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;

                &.in_place {
                    background-color: #f89e13;
                }

                &.not_in_place {
                    background-color: #18ba89;
                }

                &.no {
                    background-color: #27303f;
                }
            };

            .key_text {
                font-size: 20px;
                font-weight: bold;
            };
        };

    };
};
footer {
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: #333;
    font-size: 100px
};
