:root{
    --main-color: #2196f3;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "open sans", sans-serif;
}.game{
background-color: #eee;
min-width: 100vh;

}.container{
    width: fit-content;
    margin: auto;
    max-width: 900px;
}.name{
background-color: var(--main-color);
color:#fff ;
padding: 20px;
font-size: 25px;
text-align: center;
font-weight: bold;

}.massage{
    background-color: #fff;
    padding: 15px;
    margin: 15px 0;
    text-align: center;
    border-radius:6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
   
}.massage span {
     font-weight: bold;
     color: #009688;
}.massage span::before{
    content: "[ ";
}.massage span::after{
    content: " ]";
}.start{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #009688;
    color: #fff;
    padding: 15px;
    cursor: pointer;
}.input{
 text-align: center;
 font-weight: bold;
 font-size: 40px;
 color: var(--main-color);
 user-select: none;
 padding: 13px;
 margin: 15px auto;
 width: 100%;
 border: 3px solid var(--main-color);
 font-size: 20px;
 text-align: center;
 text-transform: capitalize;
 border-radius: 6px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 -ms-border-radius: 6px;
 -o-border-radius: 6px;
}input:focus{
    outline: none;
}.upcoming_words{
background-color: #fff;
margin: 15px 0;
padding: 15px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}.upcoming_words div{
    background-color: var(--main-color);
    margin: 4px ;
    font-weight: bold;
    color:#fff;
    padding: 10px;
    border-radius:6px ;
    -webkit-border-radius:6px ;
    -moz-border-radius:6px ;
    -ms-border-radius:6px ;
    -o-border-radius:6px ;
}.control {
display: flex;
justify-content: space-between;
background-color: #fff;
padding: 15px;

}.control span {
font-weight: bold;
color: #009688;
}.finsh{
    
}