*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}html{
    height: 100%;
}
.container{
background-color: #2c2c2c;
    h1 {
    color: #fff;
    text-align: center;
    line-height: 50px;
    span{
    font-size: 20px;
    };
        };
}
a{
    text-decoration: none;
    color: #fff;
}
.content{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: #1e1e1e;
    margin: 20px 50px;
    padding: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    img{
        margin-right: 20px;
        width: 100%;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}
.input{
    width:fit-content;
    margin: auto;
    margin-top: 20px;
    input{
        display: none;
}
label{
    background-color: transparent;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    border: 1px solid #eee;
    cursor: pointer;
}
}
.filter{
    width: 50%;
    margin-left: 20px;
    label{
        display: block;
        text-align: end;
        color: #fff;
        margin-bottom: 5px;
    }
        input[type="range"]{
            margin-bottom: 10px;
            width: 100%;
        }
                .submit{
                    display: flex;
                    align-items: center;
                    justify-content:space-evenly;
                    margin-top: 20px;
                    input[class="reset"]{
                        margin-right: 20px;
                    }
                    input , button{
                        width: 100px;
                    background-color: transparent;
                    color: #fff;
                    padding: 5px 15px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    border: none;
                    border: 1px solid #eee;
                    cursor: pointer;
                    }
                }
}
}
@media (max-width: 768px){
    .container {
        height: 100%;
    }
    .content{
        flex-direction: column;
        .filter{
                margin-top: 30px;
        }
                .submit{
                    .reset{
                        margin-right: 10px;
                    }
                }
    }
    
}