*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 300vh;

}
.one {
    min-height: 200vh;

}
.two {
    min-height: 200vh;

}
.three {
    min-height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
section:nth-child(1){
    background-color: #eeeeeeee;
}
section:nth-child(2){
    background-color: #f6f6f6;
}
section:nth-child(3){
    background-color: #ccc;
}
section:last-of-type{
    background-color: #eee;
}.nums{
    width: 400px;
    display: flex;
    .num{
        flex: 1;
        text-align: center;
        font-size: 40px;
        padding: 20px;
    }
}