*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans", sans-serif;
}.container{
position: absolute;
left: 50%;
    align-content: center;
    height: 100vh;
    .title{
        font-size: 33px;
        font-weight: bold;
        margin-left: -18px;
        color: #858585;
    }
    ul li{
        font-size: 20px;
        color: #858585;
        margin-top: 5px;
        &:last-child{
            margin-bottom: 15px;
        }
    }
    .Reload{
        width: 80px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color: #858585;
        font-size: 16px;
        color: #fff;
        margin-left: -15px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
}
.hide{
    display: none;
}