*{box-sizing: border-box;
}body{
  font-family: "tahoma", Arial;
}.parent{
width: 600px;
margin: 40px auto;
background-color: #eee;
padding:20px;
}.parent input{
  border: none;
  padding: 15px;
  margin-bottom: 15px;
width: 100%;
font-size: 20px;
}.parent input:focus{
  outline: none;
}.parent .button{
  display: flex;
  justify-content: space-around;
}.parent .button span{
  background-color: #009688;
  text-align: center;color: #fff;
  padding: 4px 10px 6px ;
  border-radius: 5px;
  cursor: pointer;
}.parent .results {
  background-color: #fff;
  padding: 20px ;
  margin-top: 15px ;
  border: 2px dashed #eee;
  text-align: center;
}.parent .results span span{
  font-weight: bold;
  color: #009688;  
}
